.header {
    background-color: #f1f1f1;
    padding: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 25px;
}

.table {
    border: 1px solid lightgray;
    border-radius: 0.3vh;
}

.column {
    text-align: center;
}

.finishedTask {
    text-decoration: line-through;
}